<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Arredondamento com imagens</title>
        <link rel="stylesheet" href="CSS3/style.css">
    </head>

    <body>
        
        <div class="caixa">
            <h2>Cabeçalho</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae accumsan lorem, eu rutrum ipsum. Aliquam ante orci, viverra at elementum eget, euismod at felis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae accumsan lorem, eu rutrum ipsum. Aliquam ante orci, viverra at elementum eget, euismod at felis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae accumsan lorem, eu rutrum ipsum. Aliquam ante orci, viverra at elementum eget, euismod at felis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae accumsan lorem, eu rutrum ipsum. Aliquam ante orci, viverra at elementum eget, euismod at felis.</p>
            <div class="ultimo"></div>
        </div>

    </body>

</html>