/*OBS: "descomente" a parte que deseja testar
Seletor universal
Seletor que seleciona todos os elementos no documento

*{
  border: 1px solid red;
}

***********************************
Seletor de texto
Seleciona elementos pelo tipo
Exemplo de seletor para o H1
h1{
    color: purple;
}

***********************************
Seletor de classe
Seleciona um elemento cujo atributo
class tem o valor especificado depois do ponto
Exemplo:
p.verde{
    Aplica o seletor verde apenas nos paragrafos, como se fosse uma restrição
    color: green;
}

***********************************
Seletor de ID
Exemplo:
#cabecalho{
    border: 1px solid blue;
}

***********************************
Seletor de filho
Seleciona elemento que é filho direto de outro:
Se aplica a todos os elementos
li>a{
    Seleciona os links (<a>) que são filhos de li's (list item)
    color: red;
    text-decoration: none;
}

***********************************
Seletor de descendente:
Seleciona um elemento que pe descendente de outro, não precisando ser um filho direto
um filho direto também é descendente, mas um descendente não necessáriamente é um filho direto

li a{
    color: brown;
}

***********************************
Seletor de filho adjacente:
Seleciona um elemento que é o irmão proximo de outro elemento:
h1+p{
    color: red;
}

***********************************
Seletor de irmão geral:
Seleciona um elemento que é irmão de outro, nao precisando ser diretamente precedente:
h1~p{
    color:red;
}

*****************HERANÇA******************
Como há herança, o ideal é definir formatações genericas para as tags mais externas
border e background não são herdados
se eu usar o seletor geral, ele aplica em todas as tags
*{
    border: 1px solid blueviolet;
}

body{
    color: red;
}

*****************Especificidade******************
No caso de dois seletores iguais, o ultimo será o aplicado.
!important define prioridade, mas o aconselhavel é resolver sem usa-lo
p{
    color: blue !important;
}

p{
    color: red;
}

Agora, se um seletor for mais especifico que outro, a regra mais especifica será aplicada.
Deixei em ordem de especificidade, mas não precisa estar em ordem.
geral<tag<class<id
*{
    color: red;
}

h2{
    color: blue;
}

h2.verde{
    color: green;
}

h2#amarelo{
    color: yellow;
}

BARRA DE NAVEGAÇÃO VERTICAL
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    border: 1px solid red;
    padding:5px 20px;
    background: url("../Imagens/seta.png") no-repeat left center;
}

Aqui começa o desing final:
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../Imagens/menu.png) no-repeat left bottom;
}

a:hover, .selecionado a{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contatos #navegacao .contatos a{
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url("../Imagens/fundo-horizontal.png") repeat-x;
    float: left;
}

ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: #fff;
    background: url(../Imagens/divisor.png) repeat-y left top;
}

ul .primeiro a{
background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contatos #navegacao .contatos a{
    color: #085662;
    background: #44cade;
}
*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li{
    float: left;
    background: url(../Imagens/aba-direita.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../Imagens/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

ul a:hover{
    color:#894a1f;
}

ul #atual{
    background: url(../Imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
    background: url(../Imagens/aba-esquerda-atual.png) no-repeat top left;
}